<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>index</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/routes/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css">
    
</head>
  <body>
    
    <div class="container-fluid m-auto mt-5 pt-4">
              <form  class="p-5 border bg-body rounded m-auto col-12 col-md-6 col-lg-4 mt-4">
                  <div class="mb-3">
                      <label for="username" class="form-label">username</label>
                      <input type="text" class="form-control" id="username" name="username">                        
                  </div>
                  <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" class="form-control" id="password" name="password">
                  </div>
                  <input type="button" class="btn btn-primary" onclick="getInfo()" value="login"></input>
              </form>
          
  </div>
  
  <script src="/static/index.js"></script>
  </body>
  
 
  
  
</html>